<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <title>Startowa</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<style type="text/css">
body {
	background-image: url(/image/tlo.png);
	background-repeat: no-repeat;
    bacground-opacity: 0.5;
    background-size: cover;
}
div.transbox {
  margin: 70px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
}
div.transbox p
{
    margin:3%;
    font-weight: bold;
    color: #000000;
}



</style>
<div class="container-fluid">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BetterTogether</a>
            </div>
            <ul class="nav navbar-nav navbar .ms-auto ">
                <li><a href="/signup" style="margin-right: 10px"><span class="glyphicon glyphicon-user"></span>Zarejestruj</a>
                </li>
                <li><a href="/login" style="margin-right: 10px"><span class="glyphicon glyphicon-log-in"></span>
                    Zaloguj</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="transbox">
    <h4><p class="text-center">Chcesz wyjść, ale nie masz z kim? Zarejestruj się na portalu.
        <br>
        Dodaj wydarzenie.<br>Poczekaj aż ktoś się zgłosi.
    <br>Gotowe, już masz towarzystwo.</p></h4>
</div>

</body>
</html>
